*{
    margin: 5px 5px auto auto;
    padding: 5px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0);
    
}
h1, h2{
    background-color: aqua;
}


#table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(163, 228, 236, 0.89);
}

#main, h1, p{
    text-align: center;
}
#main h1{
    
    font-size: 45px;
    font-weight: bolder;
}
#main p{
    font-size: 20px;
    font-weight: lighter;
}


#datatype table, th, td{
    border: solid 3px black;
}

#table th{
    background-color: rgba(113, 238, 238, 0.747);
}